<!DOCTYPE html>
<html>
  <head>
    <title>Food List</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>List Food</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Size</th>
      </tr>
      
      <tr th:each="item : ${food}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.size}"></td>
      </tr>
    </table>
    <button><a href="/list-chef">List Chef</a></button>
  </body>
</html>
